body{
    color: white;
    background:black;
}

.heading{
    width: 18%;
    font-size: 22px;
}

.name_of_objects{
   color: lightcoral;
}

#camera{
    border: 2px dashed black;
    width: 350px;
    height: 300px;
}

.name_of_objects,#result_object_name,#result_object_accuracy{
    color: lightcoral;
}